table.detail-view .null {
    color: pink;
}

table.detail-view {
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

table.detail-view th, table.detail-view td {
    border: 1px white solid;
    padding: 5px;
    vertical-align: top;
}

table.detail-view th {
    text-align: left;
    width: 30%;
}

table.detail-view tr.odd {
    background: #f5f5f5;
}

table.detail-view tr.even {
    background: #ffffff;
}

table.detail-view tr.odd th {
}

table.detail-view tr.even th {
}