.grid-view-loading {
    margin-bottom: 20px;
}

.grid-view {
    padding: 0px 0;
    margin-top: 0px;
}

.grid-view table.items {
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.grid-view img {
    float: left;
}

.grid-view table.items th, .grid-view table.items td {
    font-size: 0.9em;
    border: 1px silver solid;
    padding: 0.3em;
}

.grid-view table.items th {
    height: 25px;
    text-align: center;
    color: #4d5b76;
    font-weight: 100;
    font-size: 14px;
}

.grid-view table.items th a {
    color: #4d5b76;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover {
    color: #4d5b76;
}

.grid-view table.items th a.asc {
    background: url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc {
    padding-right: 10px;
}

.grid-view table.items tr.even {
    background: white;
}

.grid-view table.items tr.odd {
    background: #f5f5f5;
}

.grid-view table.items tr.selected {
    /*background: #6c7a95;*/
}

.grid-view .link-column img {
    border: 0;
}

.grid-view .button-column {
    text-align: center;
    width: 60px;
}

.grid-view .button-column img {
    border: 0;
}

.grid-view .checkbox-column {
    width: 15px;
}

.grid-view .summary {
    margin: 5px 0 10px 0;
    text-align: right;
    float: left;
    width: 100%;
    color: #4d5b76;
}

.grid-view .summary span {
    color: #d9534f;
}

.grid-view .pager {
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty {
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 0px;
    background-color: #ffffff;
}

.colorRedRow {
    color: #d9534f;
}

.text_align_center {
    text-align: center;
}

.text_align_right {
    text-align: right;
}

.pager-div {
    float: left;
    width: 100%;
}
