.yiiPager {
    margin: 18px 0;
    border-radius: 2px;
}

.yiiPager > li {
    display: inline;
}

.yiiPager > li > a,
.yiiPager > li > span {
    padding: 5px 12px;
    line-height: 1.4;
    color: #333;
    background-color: #f3f3f3;
    border: 1px solid #dcdcdc;
    text-decoration: none;
}

.yiiPager > li:first-child > a,
.yiiPager > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.yiiPager > li:last-child > a,
.yiiPager > li:last-child > span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.yiiPager > li > a:hover,
.yiiPager > li > span:hover,
.yiiPager > li > a:focus,
.yiiPager > li > span:focus {
    z-index: 2;
    color: #333;
    background-color: #f5f5f5;
    border-color: #c6c6c6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.yiiPager > li > a:active {
    background-color: #f4f4f4;
    background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f6f6f6 0%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.yiiPager > .active > a,
.yiiPager > .active > span,
.yiiPager > .active > a:hover,
.yiiPager > .active > span:hover,
.yiiPager > .active > a:focus,
.yiiPager > .active > span:focus {
    color: #4d90fe;
    background-color: #f5f5f5;
    border-color: #c6c6c6;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.yiiPager > .disabled > span,
.yiiPager > .disabled > span:hover,
.yiiPager > .disabled > span:focus,
.yiiPager > .disabled > a,
.yiiPager > .disabled > a:hover,
.yiiPager > .disabled > a:focus {
    color: #b3b3b3;
    text-shadow: none;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #d9d9d9;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.yiiPager .first, ul.yiiPager .last, ul.yiiPager .previous, ul.yiiPager .next {
    display: none;
}