body {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #2c3e50;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 400;
    color: #2c3e50;
}

.form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.card {
    width: 304px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.card-signin {
    width: 354px;
}

.error-msg {
    margin-bottom: 10px;
    color: red;
}

.error .lead, .error h1 {
    color: #ffffff;
}