/* -- default */
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Economica:700);

body {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #2c3e50;
    margin-top: 5px;
    margin-bottom: 20px;
}

.brand {
    font-family: 'Economica', sans-serif;
    color: #ffffff;
    margin-top: 11px;
    margin-bottom: 0px;
    margin-right: 20px;
}

a, a:hover, a:active, a:focus {
    color: #2c3e50;
}

p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.close {
    font-size: 12px;
}

.alert-dismissable .close {
    position: relative;
    top: -5px;
    right: -3px;
    color: inherit;
}

.alert {
    padding: 10px;
    display: none;
}

.animation {
    -webkit-transition: background-color 0.7s, color 1s, opacity 0.5s;
    -ms-transition: background-color 0.7s, color 1s, opacity 0.5s;
    -o-transition: background-color 0.7s, color 1s, opacity 0.5s;
    -moz-transition: background-color 0.7s, color 1s, opacity 0.5s;
    transition: background-color 0.7s, color 1s, opacity 0.5s;
}

.sidebar {
    display: none;
}

.breadcrumb {
    background-color: #ffffff;
    margin-bottom: -10px;
    padding: 0px 15px;

}

.breadcrumb li > a:hover {
    text-decoration: none;;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 40px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #2c3e50;
        color: #ffffff;
        border-right: 1px solid #eee;

    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    font-size: 16px;
}

.nav-sidebar .disable-url {
    pointer-events: none;
    cursor: default;
}

.nav-sidebar > li > ul {
    list-style: square;
}

.nav-sidebar > li > ul > li {
    position: relative;
    display: block;
}

.nav-sidebar > li > ul > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.nav-sidebar > li > .nav {
    padding-left: 20px;
}

.nav-sidebar > li > ul > li > a:hover {
    color: #2c3e50;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.nav-sidebar > .active > a, .nav-sidebar > li > a:hover {
    color: #2c3e50;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.navbar-custom {
    background-image: none;
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #2c3e50;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders .placeholder {
    color: #2c3e50;

}

.placeholders .placeholder h1 {
    font-size: 100px;
}

.alert-user {
    display: none;
}

.alert-user .alert {
    text-align: center;
}

#message-response {
    height: 50px;
}

.btn-default {
    background-image: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: no-repeat;
    border-color: rgba(44, 62, 80, 0.23);
    text-shadow: none;
    color: #2c3e50;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    text-shadow: none;
}

div.overlay {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.overlay > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: rgb(235, 235, 235);
}

.navbar-default {
    border: none;
    background-color: #2c3e50;
    min-height: 40px;
    margin-bottom: 0px;
}

.navbar-brand {
    float: left;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
    height: 0px;
    color: #ffffff;
    font-family: 'Economica', sans-serif;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.help-block, help-block:hover {
    color: #d9534f;
    pointer-events: none;
    cursor: default;
    padding-top: 0px;
}